.side-bar {
  background-color: white;
  width: 70px;
  top: 60px;
  left: 0;
  bottom: 0;
  position: fixed; 
  display: flex;
  flex-direction: column; 
  justify-content: left;
  white-space: 10px;
  z-index: 102;
  padding-top: 10px;
}

.button-sidebar{
  height: 74px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

.button-sidebar img{
  height: 24px;
  cursor: pointer;
  margin-bottom: 2px;
}
.button-sidebar div {
  font-family: Roboto, Arial;
  font-size: 10px;
}

.button-sidebar:hover {
  background-color: rgb(245, 240, 240);
}

